<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="structure" type="de.olivergeisel.materialgenerator.aggregation.knowledgemodel.model.structure.KnowledgeObject"*/-->
<div class="border border-2 border-primary rounded-1 ps-1" th:fragment="structure-object (structure, depth)">
    <div>
        <p><span th:text="${structure.name}"></span></p>
        <p>
            <button class="btn btn-info" onclick="getElements(this)" th:attr="data-id=${structure.name}" th:text="#{model.elements}"
                    type="button">Elemente
            </button>
        </p>
    </div>
    <th:import class="de.olivergeisel.materialgenerator.aggregation.knowledgemodel.model.structure.KnowledgeLeaf"/>
    <th:block th:unless="${structure.class.simpleName == 'KnowledgeLeaf'}">
        <div class="ms-3 ps-1 border border-1 border-warning rounded-1">
            <div class="mt-2" th:each="sibling : ${structure.children}">
                <div th:replace="~{knowledgeModel/fragments :: structure-object (${sibling}, ${depth+1}) }"></div>
            </div>
        </div>
    </th:block>
</div>


</body>
</html>