<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <th:block th:fragment="head">
    </th:block>
    <title th:text="'Übersicht für '+${material.name} "></title>
</head>
<body>
<main>
    <div class="container" th:fragment="content">
        <header>
            <h1>
                Übersicht für en Abschnitt
                <th:block th:text="${material.name}"></th:block>
            </h1>
        </header>
        <hr>
        <!--/*@thymesVar id="material" type="de.olivergeisel.materialgenerator.generation.material.transfer.OverviewMaterial" */-->
        <section>
            Begriffe:
            <ul>
                <li th:each="material:${material.parts}">
                    <a th:href=""> <!-- Link to summary. -->
                        <span th:text="${material.term}"></span>
                    </a>
                </li>
            </ul>

        </section>
    </div>
</main>
<footer>
    <div class="container">

    </div>
</footer>
</body>
</html>