<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <th:block th:fragment="head">
        <link rel="stylesheet" th:href="${rootPath}+'/css/bootstrap.min.css'">
    </th:block>
    <title th:text="'Übersicht für '+${material.topic} "></title>
</head>
<body>
<main>
    <div class="container" th:fragment="content">
        <header>
            <h1 class="text-center text-light" style="color: var(--bs-red); ">
                Zusammenfassung für
                <th:block th:text="${material.topic}"></th:block>
            </h1>
        </header>
        <hr>
        <!--/*@thymesVar id="material" type="de.olivergeisel.materialgenerator.generation.material.transfer.SummaryMaterial" */-->
        <section th:each="material:${material.definitions}">
            Definition:
            <div th:replace="~{${material.templateInfo.templateType.type} :: content}"></div>
        </section>
        <section th:each="material:${material.lists}">
            Listen:
            <div th:replace="~{${material.templateInfo.templateType.type} :: content}"></div>
        </section>
        <section th:each="material:${material.examples}">
            Beispiele:
            <div th:replace="~{${material.templateInfo.templateType.type} :: content}"></div>
        </section>
    </div>
</main>
<footer>
    <div class="container">

    </div>
</footer>
</body>
</html>