<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test for Area</title>
    <th:block th:replace="~{main::head-tag}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{main::navigation}"></div>
<main class="flex-grow-1">
    <header><h1>Test für Bereich</h1></header>
    <section th:replace="~{generation/test-for-topic::form}">
    </section>
    <section>
        <h2 th:text="${test.name}"></h2>
    </section>
</main>
<footer th:replace="~{main::footer}"></footer>
</body>
</html>