<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="process" type="de.olivergeisel.materialgenerator.aggregation.AggregationProcess"*/-->
<div th:fragment="area-of-knowledge-fragment">
    <label><span th:remove="tag" th:text="#{aggregation.areaOfKnowledge.title}">Wissensgebiet</span>:
        <input class="form-control" id="area-of-knowledge-input" list="areas-list" name="areaOfKnowledge"
               placeholder="Type or select an option"
               th:value="${process.areaOfKnowledge}" type="text">
        <datalist id="areas-list">
            <option th:each="area : ${structures}" th:text="${area}" th:value="${area}"></option>
        </datalist>
    </label>
</div>

<th:block th:fragment="model-configs">
    <label class="form-control">
        Modellname:<select class="form-select" name="modelName">
        <option th:each="model : ${models}" th:selected="${model} == ${process.modelName}" th:text="${model}"
                th:value="${model}">Model
        </option>
    </select>
        <div class="form-label" th:text="#{aggregation.modelLocation}">Ort des Modells:</div>
        <div class="input-group-lg">
            <label>
                <input name="connectionType" th:checked="${process.modelLocation.toString()}=='LOCAL'"
                       th:text="#{aggregation.modelType.local}" th:value="local" type="radio">
                <input name="connectionType" th:checked="${process.modelLocation.toString()}=='REMOTE'"
                       th:text="#{aggregation.modelType.remote}" th:value="remote" type="radio">
            </label>
        </div>
    </label>
    <div class="form-control">
        <span th:remove="tag" th:text="#{aggregation.modelParameters.title}">Modellparameter</span>:
        <label> Maximale Tokens
            <input min="1" name="maxTokens" step="1" th:value="${process.modelParameters.maxTokens}" type="number">
        </label>
        <label> Temperatur
            <input class="form-" max="1" min="0.01" name="temperature" step="0.01"
                   th:value="${process.modelParameters.temperature}" type="number">
        </label>
        <label> Top P
            <input max="1" min="0.01" name="topP" step="0.01" th:value="${process.modelParameters.topP}" type="number">
        </label>
        <label> Versuche
            <input min="1" name="retries" step="1" th:value="${process.modelParameters.retries}" type="number">
        </label>
    </div>
    <div class="form-control" id="language-select">
        <label>Fragment Language:
            <input list="languages" name="fragmentLanguage" required
                   th:value="${process.fragmentLanguage}" type="text">
        </label>
        <label>Target Language:
            <input list="languages" name="targetLanguage" required
                   th:value="${process.targetLanguage}" type="text">
        </label>
        <datalist id="languages">
            <option th:each="language : ${T(de.olivergeisel.materialgenerator.aggregation.extraction.elementtype_prompts.Language).languageStrings}"
                    th:value="${language}"></option>
        </datalist>

    </div>

    <label class="form-control">
        API-Key:
        <input class="form-text" name="apiKey" th:placeholder="'Nur wenn remote genutzt'"
               th:value="${process.apiKey}"
               title="Nur wenn remote genutzt">
        Server-Url:
        <input class="form-text" name="url" placeholder="http://localhost:4891/v1 is default"
               th:placeholder="'Nur wenn remote genutzt'" th:value="${process.url}"
               title="Nur wenn remote genutzt">
    </label>
</th:block>

<article th:fragment="skip-to-integration-fragment (process)">
    <label>
        <a th:href="@{/aggregation/integration}">
            <button class="btn btn-warning" th:disabled="${not(process.hasElements or process.hasRelations)}"
                    th:text="#{aggregation.skipToIntegration}"></button>
        </a>
    </label>

</article>


</body>
</html>