<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Konfiguration</title>
    <th:block th:replace="~{main::head-tag}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{main::navigation}"></div>

<main class="flex-grow-1 container-fluid">
    <div th:replace="~{main::aggregationProgress}"></div>
    <header class="flex-header"><h1>Konfiguration für NLP</h1></header>
    <section class="container-fluid">
        <form>
            <div class="input-group-lg">
                <label>Typ</label>
                <div>
                    <input name="connectionType" th:checked="${process.modelLocation.toString()}=='LOCAL'"
                           th:text="#{aggregation.modelType.local}"
                           th:value="local"
                           type="radio">
                </div>
                <div>
                    <input name="connectionType" th:checked="${process.modelLocation.toString()}=='REMOTE'"
                           th:text="#{aggregation.modelType.remote}"
                           th:value="remote"
                           type="radio">
                </div>
            </div>
            <label class="form-control">
                Modellname:<select class="form-select" name="modelName">
                <option th:each="model : ${models}" th:selected="${model}==${process.modelName}" th:text="${model}"
                        th:value="${model}">Model
                </option>
            </select>
            </label>
            <label class="form-control">
                API-Key:
                <input class="form-text" name="apiKey" th:placeholder="'Nur wenn remote genutzt'"
                       th:value="${process.apiKey}"
                       title="Nur wenn remote genutzt">
                Server-Url:
                <input class="form-text" name="url" placeholder="http://localhost:4891/v1 is default"
                       th:placeholder="'Nur wenn remote genutzt'"
                       title="Nur wenn remote genutzt">
            </label>
        </form>
    </section>
    <hr>
    <section class="container-fluid">
        <div class="alert alert-danger" role="alert" th:if="${error}">
            Error
            <p th:text="${error}"></p>
        </div>
        <div th:unless="${error}">
            <header>
                <h3>Antwort</h3>
            </header>
            <span>
                <form method="post" th:action="@{terms/add}">
                    <button class="btn btn-primary" th:text="#{aggregation.terms.add}">Add</button>
                </form>
            </span>
            <article class="mt-2">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="col-lg-6">
                        <span th:text="#{aggregation.terms.suggested}">Vorgeschlagen: </span>: <span
                            th:text="${process.terms.suggestedElements.size}"></span>
                        <div class="row">
                            <div class="card col-md-5 col-lg-5 m-2 text-bg-primary" th:each="term:${suggestedTerms}">
                                <div class="card-header">
                                    <span th:text="${term.content}"></span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Id: <span th:text="${term.id}"></span></p>
                                    <p class="card-text">Type: <span th:text="${term.type}"></span></p>
                                    <p class="card-text">TermName: <span th:text="${term.termName}"></span></p>
                                </div>
                                <div class="card-footer">
                                    <a th:href="@{/aggregation/term/{id}(id=${term.id})}">
                                        <button class="btn btn-primary">Details</button>
                                    </a>
                                    <div class="btn-group btn-group-sm">
                                        <form method="post" th:action="@{terms/remove}">
                                            <input name="id" th:value="${term.id}" type="hidden">
                                            <button class="btn btn-danger"><i class="bi bi-trash ms-2"></i></button>
                                        </form>
                                        <form method="post" th:action="@{terms/accept}">
                                            <input name="id" th:value="${term.id}" type="hidden">
                                            <button class="btn btn-success"><i class="bi bi-plus-square"></i></button>
                                        </form>
                                        <form method="post" th:action="@{terms/edit}">
                                            <input name="id" th:value="${term.id}" type="hidden">
                                            <button class="btn btn-info"><i class="bi bi-pen"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <span th:text="#{aggregation.terms.accepted}">Angenommen</span>: <span
                            th:text="${process.terms.acceptedElements.size}"></span>
                        <div class="row">
                            <div class="card col-md-5 col-lg-5 m-2 text-bg-success" th:each="term:${acceptedTerms}">
                                <div class="card-header">
                                    <span th:text="${term.content}"></span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Id: <span th:text="${term.id}"></span></p>
                                    <p class="card-text">Type: <span th:text="${term.type}"></span></p>
                                    <p class="card-text">TermName: <span th:text="${term.termName}"></span></p>
                                </div>
                                <div class="card-footer">
                                    <a>
                                        <button class="btn btn-primary">Details</button>
                                    </a>
                                    <div class="btn-group btn-group-sm">
                                        <form method="post" th:action="@{terms/remove}">
                                            <input name="id" th:value="${term.id}" type="hidden">
                                            <button class="btn btn-danger"><i class="bi bi-trash ms-2"></i></button>
                                        </form>
                                        <form method="post" th:action="@{terms/reject}">
                                            <input name="id" th:value="${term.id}" type="hidden">
                                            <button class="btn btn-warning"><i class="bi bi-dash-square ms-2"></i>
                                            </button>
                                        </form>
                                        <form method="post" th:action="@{terms/edit}">
                                            <input name="id" th:value="${term.id}" type="hidden">
                                            <button class="btn btn-info"><i class="bi bi-pen"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="row mb-2" id="next-step">
                <header><h4>Weiter zu den Definitionen</h4></header>
                <form method="post" th:action="@{terms}">
                    <button class="btn btn-primary" th:disabled="${process.terms.isEmpty}">Weiter</button>
                </form>
            </article>
        </div>
    </section>
</main>
<footer th:replace="~{main::footer}"></footer>
</body>
</html>