<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seitentitel</title>
    <th:block th:replace="~{main::head-tag}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{main::navigation}"></div>
<main class="flex-grow-1">
    <header><h1>Neuer Term</h1></header>
    <section>
        <form method="post">
            <label class="form-control">Term:
                <input name="content" required type="text">
            </label>
            <label class="form-control">Structure-Id:
                <input list="structures" name="structureId" type="text">
                <datalist id="structures">
                    <option th:each="structure : ${structures}" th:text="${structure}" th:value="${structure}"></option>
                </datalist>
            </label>
            <input class="btn btn-success" type="submit" value="Erstellen">
        </form>
    </section>
</main>
<footer th:replace="~{main::footer}"></footer>
</body>
</html>