<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{main::head-tag}"></th:block>
    <title>Start - MDTea-Gen</title>
</head>

<body>
<nav th:replace="~{main::navigation}"></nav>
<header class="bg-dark">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">MDTea Prototyp Implementierung</p>
                    <h1 class="fw-bold">Projekt zum Erstellen von (Lehr-)Material</h1>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img
                            class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.8"
                            src=""></div>
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"><img
                            class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4"
                            src=""></div>
                    <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"><img
                            class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.25"
                            src=""></div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5"></section>
<section>
    <div class="container bg-dark py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Kurse</p>
                <h3 class="fw-bold">Erstellen, Bearbeiten und Nutzen von Material</h3>
            </div>
        </div>
        <div class="py-5 p-lg-5">
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;"><i
                                    class="material-icons text-success">create_new_folder</i></div>
                            <h5 class="fw-bold card-title">Erstellen</h5>
                            <p class="text-muted card-text mb-4">Durch die Wahl eines Lehrplans und eines TemplateSets
                                werden die Generatoren entsprechendes Material erstellen</p><a
                                href="generation/template-selection.html"
                                th:href="@{/generator}">
                            <button class="btn btn-primary shadow" type="button">Mehr erfahren</button>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;"><i
                                    class="bi bi-pencil-fill text-success"></i></div>
                            <h5 class="fw-bold card-title">Bearbeiten</h5>
                            <p class="text-muted card-text mb-4">Jeder Kurs kann über eine Übersicht angepasst
                                werden</p><a href="finalization/edit.html" th:href="@{/edit}">
                            <button class="btn btn-primary shadow" type="button"><strong>Mehr erfahren</strong></button>
                        </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;">
                                <svg class="text-success" fill="currentColor" height="1em" style="font-size: 32px;"
                                     viewBox="0 -32 576 576" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M192 312C192 298.8 202.8 288 216 288H384V160H256c-17.67 0-32-14.33-32-32L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48v-128H216C202.8 336 192 325.3 192 312zM256 0v128h128L256 0zM568.1 295l-80-80c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94L494.1 288H384v48h110.1l-39.03 39.03C450.3 379.7 448 385.8 448 392s2.344 12.28 7.031 16.97c9.375 9.375 24.56 9.375 33.94 0l80-80C578.3 319.6 578.3 304.4 568.1 295z"></path>
                                </svg>
                            </div>
                            <h5 class="fw-bold card-title">Export</h5>
                            <p class="text-muted card-text mb-4">Jeder Kurs kann einfach exportiert werden und in
                                anderen Plattformen genutzt werden</p>
                            <a href="/export.html">
                                <button class="btn btn-primary shadow" type="button"><strong>Mehr erfahren</strong>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                 style="top: 1rem;right: 1rem;position: absolute;">
                                <svg class="bi bi-chat-quote text-success" fill="currentColor" height="1em"
                                     viewBox="0 0 16 16"
                                     width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"></path>
                                    <path d="M7.066 6.76A1.665 1.665 0 0 0 4 7.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 0 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 7.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 0 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"></path>
                                </svg>
                            </div>
                            <h5 class="fw-bold card-title">Updates</h5>
                            <p class="text-muted card-text mb-4">Leider noch nicht da</p>
                            <a href="/synchronization.html" th:href="@{/synchronization}">
                                <button class="btn btn-primary shadow" type="button">
                                    <strong>Mehr erfahren</strong>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-5">
        <div class="mx-auto" style="max-width: 900px;">
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                <div class="col mb-4">
                    <div class="card bg-primary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-primary card-text mb-2" th:text="#{general.knowledgeModel}">
                                Wissensmodell</p>
                            <h5 class="fw-bold card-title mb-3">Alle Materialien werden aus einem Wissensmodell
                                erstellt</h5>
                            <a th:href="@{/knowledge-model}">
                                <button class="btn btn-primary btn-sm" th:text="#{general.learnMore}" type="button">
                                    Learn
                                    more
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card bg-secondary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fw-bold text-secondary card-text mb-2">Hinzufügen von Wissen</p>
                            <h5 class="fw-bold card-title mb-3">Durch die Aggregation kann mehr Wissen ins Modell
                                hinzugefügt werden</h5>
                            <a th:href="@{aggregation/collect}">
                                <button class="btn btn-secondary btn-sm" th:text="#{general.learnMore}" type="button">
                                    Learn more
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{main::footer}"></footer>
</body>

</html>