<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Model-Driven Teaching Info</title>
    <th:block th:replace="~{main::head-tag}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{main::navigation}"></div>
<main class="flex-grow-1 container">
    <header><h1>Model-Driven Teaching (MDTea)</h1></header>
    <section class="pt-2">
        MDTea ist ein System, das die Erstellung von Lehrmaterialien unterstützt.
        Es soll mit einem Wissensmodell arbeiten.
        Dieses Wissensmodell wird durch die Analyse von Wissensquellen erstellt.
        Die Wissensquellen können Texte, Videos, Präsentationen oder andere Materialien sein.
        Das Wissensmodell wird zusammen mit einem Kursplan verwendet, um Lernmaterialien zu generieren.
        Diese werden dann zu einem Kurs zusammengefasst.
        Das System kann auch verwendet werden, um Materialien zu aktualisieren.
        <br>
        Weiter Informationen finden Sie in der <a href="https://nbn-resolving.org/urn:nbn:de:bsz:14-qucosa2-894079">Arbeit
    </a> von Oliver Geisel.

    </section>
</main>
<footer th:replace="~{main::footer}"></footer>
</body>
</html>