<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="~{main::head-tag}"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{main::navigation}"></div>
<main class="container flex-grow-1">
    <header><h1>Login</h1></header>
    <section>
        <h2>Der Prototyp benötigt keinen Login. Du kannst alle Funktionen nutzen.</h2>
    </section>
</main>
<footer th:replace="~{main::footer}"></footer>
</body>
</html>